/* src/components/Auth.css */
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 100px;
    background-color: #222;
    color: #f5c32c;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .auth-container h2 {
    margin-bottom: 1rem;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .auth-container input {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 4px;
    border: 1px solid #f5c32c;
    background: #333;
    color: #fff;
  }
  
  .auth-container button {
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background-color: #f5c32c;
    color: #222;
    font-weight: bold;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: #ffc107;
  }
  